body {
    margin: 0;
    padding: 0;
}

#block-for-slider {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 20px;
}

#viewport {
    width: 100%;
    display: table;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    padding-bottom: 5%;
}

#slidewrapper {
    position: relative;
    width: calc(100% * 9);
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

#slidewrapper ul, #slidewrapper li {
    margin: 0;
    padding: 0;
}

#slidewrapper li {
    width: calc(100% / 9);
    list-style: none;
    display: inline;
    float: left;
    text-align: center;
}

.slide-img {
    max-width: 90%;
    max-height: 500px;
    margin-left: 5%;
    margin-top: 5%;
    box-shadow: 0 0 15px 10px rgba(255, 255, 255, 1.0);
    /*max-width: 600px;*/
}

#prev-btn, #next-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    top: calc(50% - 25px);
}

#prev-btn img {
	margin-left: 1px;
	height: 50px;
}
#next-btn img {
	margin-left: 1px;
	height: 50px;
}

#prev-btn:hover, #next-btn:hover {
    cursor: pointer;
}

#prev-btn {
    left: 20px;
}

#next-btn {
    right: 20px;
}

#nav-btns {
    position: absolute;
    width: 100%;
    bottom: 20px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.slide-nav-btn {
    position: relative;
    display: inline-block;
    list-style: none;
    width: 20px;
    height: 20px;
    background-color: #777;
    border-radius: 50%;
    margin: 3px;
}

.slide-nav-btn:hover {
    cursor: pointer;
}